.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin: 20px;
  height: 200px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin: 40px;
  height: 200px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin: 40px;
  height: 200px;
}

/* Write your code here. */
.title {
  color: #326a9d;
  font-family: Roboto;
  font-weight: 900;
  margin: 10px;
}
.para {
  color: #7e858e66;
  font-family: Roboto;
  margin: 10px;
}

.button {
  font-family: Roboto;
  color: #326a9d;
  margin: 10px;
  padding: 10px;
  border: 1px #326a9d 5px;
}
.inner-container {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .inner-container {
    padding: 0;
  }
  .button {
    margin: 5px;
    padding: 4px;
  }
  .title {
    margin: 5px;
  }
  .para {
    margin: 5px;
  }
}
